<!-- views/partials/header.ejs -->

<nav class="navbar" role="navigation">
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/members/create">Add a new member</a></li>
	</ul>
</nav>
