<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
<div class='container'>
	<h1>We are group 7 from ESOF423</h1>
	<p>Go to our GitHub page to log defects</p>
	<a href="https://github.com/hc-barker/ESOF423/issues">GitHub</a>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
