<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<header>
	<% include ../partials/header %>
</header>

<main>
	<h1>We are group 7 from ESOF423</h1>
	<p>Go to our GitHub page to log defects</p>
	<a href="https://github.com/hc-barker/ESOF423">GitHub</a>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
