<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<% include ../partials/header.ejs %>
</header>

<main>
<div class='container mt-3'>
	<h1>New Activity</h1>
	<form id='new-activity-form' action='/activities/create' method='POST'>
		<div class='form-group'>
			<input type='text' class='form-control' placeholder='Name' name='name' required><br>
		</div>
		<input type='submit' class='btn btn-primary' value='Submit'>
	</form>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>
</html>
