<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<%include ../partials/header.ejs %>
</header>

<main>
<div class='container mt-3'>
	<h1>New Senior Center Member</h1>
	<form id='new-member-form' action='/members/create' method='POST'>
		<legend>Personal Information:</legend>
		<div class='form-group'>
			<div class='form-row'>
				<div class='col'>
					<input type="text" class='form-control' placeholder='First Name' name="firstname" required><br>
				</div>
				<div class='col'>
					<input type="test" class='form-control' placeholder='Last Name' name="lastname" required><br>
				</div>
			</div>
			*Birth date:<br>
			<input type="date" name="birthdate" required><br>
		</div>
		<fieldset>
			<legend>Senior Center Information</legend>
			<fieldset>
				<legend>Activity Enrollment</legend>
				<input type="checkbox" name="activities" value="BINGO">BINGO</option>
				<input type="checkbox" name="activities" value="Card Games">Card Games</option>
				<input type="checkbox" name="activities" value="Needleairs">Needleairs</option>
				<input type="checkbox" name="activities" value="Birthday celebration">Birthday celebration</option>
			</fieldset>
		</fieldset>
		<br>
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
