<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
	<div class='container'>
		<h1>Documents</h1>
		<p>Download these documents to edit and print.</p>
		<a href="https://drive.google.com/file/d/18AYNZmQNnpxNqX8AvEUdoFzwq_9BUdmE/view?usp=sharing">2018 intake form long full income<br><br></a>
		<a href="https://drive.google.com/file/d/1cLCYbhsTagwp_aoRSIquVkF8Cww01x3p/view?usp=sharing">2018 intake form short full income<br><br></a>
		<a href="https://drive.google.com/file/d/12fW-VgOwnfuLwUu7Z-IjvjYC-mCIO0GO/view?usp=sharing">Medical Release form<br><br></a>
		<a href="https://drive.google.com/file/d/174VwhEVY6Da8ZjdGcmHTaGNh_NirnQia/view?usp=sharing">Volunteer Application<br><br></a>
		<a href="https://drive.google.com/file/d/1MdkG_VjHs7H1RAid7l8UPtpydUqxp4Bg/view?usp=sharing">Waiver & Release Form<br><br></a>
	</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>

</html>
