<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<header>
	<% include ../partials/header %>
</header>

<main>
<div class='container'>
	<h1>Welcome to the senior center app</h1>
	<p>Enjoy your stay</p>
</div>

</main>

<footer>
	<% include ../partials/footer %>
</footer>

</body>
</html>
