<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
<div class='container mt-3'>
	<h1>Login</h1>
	<form id='login-user-form' action='/users/login' method='POST'>
		<div class='form-group'>
			<input type='text' class='form-control' placeholder='Username' name='username' required><br>
			<input type='password' class='form-control' placeholder='Password' name='password' required><br>
		</div>
		<input type='submit' class='btn btn-primary' value='Login'>
	</form>
</div>
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>
</html>
