<!DOCTYPE html>
<head>
	<% include ../partials/head.ejs %>
</head>

<header>
	<%- include('../partials/header', {session: session}) %>
</header>

<main>
	
</main>

<footer>
	<% include ../partials/footer.ejs %>
</footer>

</body>
</html>
